---
import { getEntry, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/layouts/PageLayout.astro";

const page = await getEntry("pages", "about");

if (!page) throw new Error("Missing content: pages/about.md");

const { Content } = await render(page);
---

<BaseLayout
  title={page.data.title}
  description={page.data.description}
  keywords={page.data.keywords}
  alternates={[{ path: "/about.md", type: "text/markdown" }]}
>
  <PageLayout heading={page.data.heading}>
    <section>
      <Content />
    </section>
  </PageLayout>
</BaseLayout>
