---
const year = new Date().getFullYear();
---

<footer
  class="footer-center mt-6 footer p-4 text-base-content [view-transition-name:footer] sm:footer-horizontal"
>
  <aside>
    <p>
      © {year} Jimmy Guzman Moreno. Built with <span class="text-red-500"
        >❤️</span
      > and minimalism.
    </p>
  </aside>
</footer>
