---
const year = new Date().getFullYear();
---

<footer
  class="footer-center mt-safe footer p-safe text-muted [view-transition-name:footer] sm:footer-horizontal"
>
  <aside>
    <p>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"
        >CC BY-SA 4.0</a
      > 2020-{year} © Jimmy Guzman Moreno.
    </p>
  </aside>
</footer>
