---
const year = new Date().getFullYear();
---

<footer class="footer sm:footer-horizontal footer-center text-base-content p-4">
  <aside>
    <p>
      © {year} Jimmy Guzman Moreno. Built with <span
        class="bg-red-400 bg-clip-text text-transparent">❤️</span
      > and minimalism.
    </p>
  </aside>
</footer>
