---
const year = new Date().getFullYear();
---

<footer
  class="footer-center footer p-4 text-base-content [view-transition-name:footer] sm:footer-horizontal"
>
  <aside>
    <p>
      © {year} Jimmy Guzman Moreno. Built with <span
        class="bg-red-400 bg-clip-text text-transparent">❤️</span
      > and minimalism.
    </p>
  </aside>
</footer>
