---

---

<div class="card card-border bg-base-100">
  <div class="card-body">
    <h2 class="card-title">Links</h2>
    <div class="flex justify-center gap-2 md:gap-4 flex-col md:flex-row">
      <a href="/about-me" class="btn btn-primary btn-sm">
        About Me <span class="icon-[lucide--user] h-4 w-4"></span>
      </a>
      <a
        href="https://github.com/jimmy-guzman"
        target="_blank"
        class="btn btn-sm"
        rel="noopener noreferrer"
      >
        GitHub <span class="icon-[lucide--arrow-up-right] h-4 w-4"></span>
      </a>
      <a
        href="https://www.linkedin.com/in/jimmy-guzman-moreno"
        target="_blank"
        class="btn btn-sm"
        rel="noopener noreferrer"
      >
        LinkedIn <span class="icon-[lucide--arrow-up-right] h-4 w-4"></span>
      </a>
      <a
        href="mailto:hi@jimmy.codes"
        target="_blank"
        class="btn btn-sm"
        rel="noopener noreferrer"
      >
        Email <span class="icon-[lucide--arrow-up-right] h-4 w-4"></span>
      </a>
      <a href="/resume.pdf" download class="btn btn-sm">
        Resume <span class="icon-[lucide--download] h-4 w-4"></span>
      </a>
    </div>
  </div>
</div>
